body {
    max-width: none !important; /* Remove the max-width constraint */
    margin: 0 !important; /* Remove margin to fit the body to the edges */
    padding-left: 0 !important; /* Remove the padding to fit the body to the edges */
    padding-right: 0 !important; /* Remove the padding to fit the body to the edges */
}
